body{background-color: rgb(127, 214, 255);

}

/* I want to use this format for all my pages. How do I adjust the img */

.header{
  background-color: rgb(187, 197, 194);
height: 110px;
font-style: italic;
font: bold;
border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  /* font-size: 50px; */
  padding-top: 15px;
}

.header-title{
display: inline-block;
width: 700px;
position: relative;
bottom: 40px;
right: 75px;
}

/* .head-logo{
  height: 50px;
} */

.head-img{
  height: 100px;
  bottom: 40px;
display: inline-block;

}

.navbar{
  height: 50px;
  border-bottom: 5px black solid;
  text-align: center;
  text-decoration: none;
    font-size: 20px;
    padding-top: 20px;
    
}

.navlink{
  text-decoration: none;
  color: white;
  padding: 20px;



}

.navlink:hover{
  color: green;
}

/* content*/
.main-wrap{
  margin-top: 100px;
  height: 800px;
  text-align-last: center;
  font-size: 45px;

}

.main-text{
  font-size: 30px;
  margin: 20px 100px 0px 100px;
}
.main-box{
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.bus-img{
  
  background-image: url("../img/bus-beach.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.trip-img{
  background-image: url("../img/charter-campers.jpg");
  background-size: cover;
  
}

.safety-img{
  background-image: url(../img/driver-training.jpg);
background-size: cover;
background-repeat: no-repeat;
}

/* CONTACT FORM */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


/* ABOUT PAGE */
.about-wrap {
  height: 1100px;
  margin: 0px 20px 0px 40px;
  text-align: center;
  padding-top: 100px;
  
}
.about-box{
  width: 600px;
  height: 450px;
  float: left;
  display: inline-block;
  background-size: auto;
}
.about-text{
  font-size: 30px;
  margin: 20px 10px 0px 10px;
  text-align: left;

}

.about-vid{
  margin-bottom: 100px;
  padding-top: 50px;

}

/* FOOTER */
.foot-wrap {
  height: 300px;
  background-color: rgba(143, 119, 112, 0.99);
  clear: both;
}
.icon-wrap {
  padding-top: 100px;
  text-align: center;
}
.icons {
  font-size: 75px;
  padding: 10px;

}
.icons:hover {
  color: green;
}
.footer-link-wrap {
  padding-top: 20px;
  border-top: 1px black solid;
  margin-right: 500px;
  margin-left: 500px;
}
.foot-link {
  
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
.foot-link:hover {
  
  color: green;
}