body{background-color: rgb(127, 214, 255);

}

/* I want to use this format for all my pages. however I am stuck like chuck */

.header{background-color: aquamarine;
height: 75px;
width: 50;
font-style: italic;
font: bold;
border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  font-size: 50px;
}

.nav{
  text-align: center;
    font-size: 20px;
    height: 20px;
    
}